extends ../assets/templates/template_default

block header
  include ../assets/blocks/header/header

block main
  main.main
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    | Incidunt atque error inventore nesciunt modi corrupti 
    | architecto suscipit minus odit aperiam quidem sapiente 
    | sed quae, nihil aliquam aspernatur voluptatum sint nisi!

block footer
  include ../assets/blocks/footer/footer

block popup
  include ../assets/blocks/popup/popup